#nprogress .spinner-icon {
  display: none !important;
}

pre {
  padding: 1em;
  margin: 0.5em 0;
}

.znc pre > code {
  padding: 0 !important;
}

div.code-toolbar > .toolbar {
  padding: 0.5em 0.5em 0 0 !important;
  top: 0 !important;
  right: 0 !important;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: flex !important;
}
